
@font-face {
    font-family: "Averta";
    src: url("../fonts/Averta-Thin.woff") format("woff"),
         url("../fonts/Averta-Thin.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Averta";
    src: url("../fonts/Averta.woff") format("woff"),
         url("../fonts/Averta.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Averta";
    src: url("../fonts/Averta-Semibold.woff") format("woff"),
         url("../fonts/Averta-Semibold.otf") format("opentype");
    font-weight: 600;
}



body{
  font-family: Averta!important;
  /*overflow-x: hidden;*/
}

/**, a{
  color: #514949!important;
  font-family: "Averta";
}
*/

.custom-btn{
  background-color: #E7332B;
  padding: 8px 20px!important;
  /*text-align: center;*/
  color: #ffff!important;
  display: inline-block;
}



.mobile-footer h5{
    font-size: 14px;
}



footer{
  margin-top: 121px;
  font-size: 14px;
  line-height: 20px!important;
}
footer ul li a{
    line-height: 20px!important;
    font-size: 14px!important;
}

footer h4,
.footer-copyright {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

footer h4 {
    margin-bottom: 24px;
}
footer li a{
  color: #514949!important;
}

.footer-link {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #514949!important;
}

footer .nav-link:hover {
  text-decoration: underline;
}

footer li{
  padding: 0!important
}

.facebook-link span{
    color: #3b5998;
    font-size: 20px;
}

.twitter-link span{
    color: #00acee;
    font-size: 20px;
}

.bg{
  background-image: url("../images/footer/bg.png");
  background-size: cover;
  padding-top: 10em; 
  padding-bottom: 10em;

}

.enroll h3{
  font-size: 1.75rem!important;
}





@media only screen and (max-width: 576px) {
  .bg{
    padding: 2em 1em;
  }

  .bg h3{
    font-size: 14px
  }
  .mobile-footer h5{
    font-size: 14px
  }
  .enroll-child{
    padding-left:15px!important; 
    padding-right:15px!important; 
  }
  .enroll h3{
    font-size: 0.9rem!important;
  }
}



@media only screen and (max-width: 768px) and (min-width: 577px){
  

  .custom-btn{
    background-color: #E7332B;
    padding: 8px 10px!important;
    /*text-align: center;*/
    color: #ffff!important;
    /*font-size: 10px;*/
    display: inline-block;
  }

  .custom-btn1{
    padding: 5px 30px!important;
  }

  *{
    font-size: 10px;
  }

  .logo img{
    width: 50%
  }
}



@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .custom-textarea{
    height: 125px!important;
  }
}



@media only screen and (max-width: 1200px) {

}

