
@font-face {
    font-family: "Averta-Regular";
    src: url("../fonts/Averta-Light.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Averta-Bold";
    src: url("../fonts/Averta-Bold.woff")format("woff");
    font-weight: 600;
}

/* ######## project intro section and general tyling ####### */
.intro-text h3,
.project-list-title h3 {
    font-size: 14px;
    line-height: 24px;
    color: #E7332B;
    padding: 0 20px;
}

.intro-text h3,
.intro-text p {
    padding: 0 20px;
}

.intro-text p {
    font-family: "Averta-Regular";
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
    text-align: justify;
}

.intro-full {
    background: #fff;
}

.project-intro>* {
    padding: 30px 0;
}

.intro-img {
    margin-bottom: 25px;
}

.intro-img img {
    display: block;
    margin: auto;
    width: 292px;
    height: 296px;
}


.project-list-title p {
    text-align: center;
    font-family: "Averta-Bold";
    font-size: 24px;
    line-height: 40px;
    color: #514949;
}

/* ######## project banner####### */
.project-banner,
.project,
.enroll,
.projects,
.footer-r {
    max-width: 1238px;
    margin: 20px auto;
}

.footer-wrapper {
    background: #fff;
    padding-top: 50px;
}

.project-banner button {
    background: #E7332B;
    font-family: "Averta-Regular";
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 148px;
    height: 46px;
    margin: 20px auto;
    text-align: center;
    transition: all 0.5 ease;
    border: 1px solid #E7332B;
    text-transform: capitalize;
}

.enroll-now {
    max-width: 200px;
    margin: 0 auto;
    padding-left: 20px;
}

.project-banner button:hover {
    color: #E7332B;
    background: #FFFFFF;
    border: 1px solid #E7332B;
}

/* ######## project all projects####### */

.project {
    background: #fff;
    padding: 20px 5px;
}

.project-caption>* {
    padding: 10px 10px;
}

.project-caption h3 {
    font-family: "Averta-Bold";
    font-size: 18px;
    line-height: 28px;
    color: #514949;
}

.project-caption p {
    font-family: "Averta-Regular";
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}

.project-caption {
    border-bottom: .7px solid rgba(81, 73, 73, 0.2);
    padding-bottom: 30px;
}

.project a {
    font-family: "Averta-Regular";
    font-size: 14px;
    line-height: 24px;
    color: #E7332B;
    opacity: 0.5;
    text-decoration: none;
    padding: 20px 10px;
}
.rd-padding{
    padding: 100px 0;
}

@media screen and (min-width:772px) {

    .npad {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .intro-text h3,
    .intro-text p,
    .project-list-title h3 {
        padding: 0 0;
    }


    .project-nav,
    .intro-wrapper,
    .project-banner,
    .projects,
    .project-intro,
    .enroll,
    footer {
        max-width: 1238px;
        margin: 0 auto;
    }

    .no-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
        height: 342px;
    }

    .project-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }

    .project-list-title {
        width: 70%;
    }

    .intro-text {
        width: 60%;
        position: relative;
        bottom: 60px;
    }

    .project-list-title p {
        text-align: left;
    }

    .project-intro {
        height: 500px;
        ;
    }

    .intro-img img {
        width: 292;
        height: 292px;
    }

    .intro-img {
        position: relative;
        right: 55px;
    }

    .projects,
    .project-intro {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .project {
        width: 400px;
        height: 280px;
        flex: 0 0 auto;
    }

    .project a {
        position: relative;
        margin-top: 30px;
        top: 35px;
    }
}



.enroll {
    margin: 40px auto;
}

.bg-white {
    background-color: #fff;
    padding: 30px 15px;
}

.twitter {
    color: #00acee;
}

.fb {
    color: #3b5998;
}

.container {
    max-width: 1238px !important;
    overflow: hidden !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}