main {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 9rem 0rem 0rem 0rem;
}

main .accordion {
  padding-bottom: 3.5rem;
}

main .accordion .accordion__item {
  border-top: 0.3px solid rgba(11, 11, 16, 0.5);
  padding: 1.3rem 1rem;
}

main .accordion .accordion__item:nth-child(5) {
  border-bottom: 0.3px solid rgba(11, 11, 16, 0.39);
}

main .accordion .accordion__item:target {
  background: #f2ebe9;
}

main .accordion .accordion__item:target .accordion__item__header a .arrow__left {
  display: none;
  margin-right: 1.5rem;
  vertical-align: text-top;
}

main .accordion .accordion__item:target .accordion__item__header a .arrow__down {
  display: block;
  margin-right: 1.5rem;
}

main .accordion .accordion__item:target .accordion__item__body {
  max-height: 10rem;
  padding: 1rem 2.5rem .5rem 2.5rem;
  font-family: Averta-Regular;
  font-size: 16px;
  line-height: 24px;
  color: #514949;
  overflow: visible;
  transition: .2s ease-out;
}

main .accordion .accordion__item .accordion__item__header a {
  font-family: Averta-Bold;
  font-size: 18px;
  line-height: 48px;
  color: #514949;
  line-height: 30px;
  color: #514949;
  display: inline-flex;
}

main .accordion .accordion__item .accordion__item__header a .arrow__left {
  display: block;
  margin-right: 1.5rem;
}

main .accordion .accordion__item .accordion__item__header a .arrow__down {
  display: none;
}

main .accordion .accordion__item .accordion__item__body {
  max-height: 0;
  overflow: hidden;
}

main .text__md {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

main .text__md h2 {
  text-align: center;
  font-family: Averta-Bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

main .text__md h2 a {
  color: #e7332b;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .second__section .second__section {
    padding-top: 8rem !important;
  }
  .second__section .second__section .content h2 {
    font-family: Averta-Bold;
    font-size: 18px;
    line-height: 48px;
    color: #514949;
    font-size: 20px !important;
  }
}

header {
  background: rgba(242, 235, 233, 0.6);
  font-family: myfont;
  transition: all 0.5s;
}

header .nav-link {
  font-family: Averta-Regular;
  font-size: 16px;
  line-height: 19px;
  color: #514949;
}

header .nav-link:hover {
  font-family: Averta-Bold;
  font-size: 16px;
  line-height: 19px;
}

header .h-btn {
  background: #E7332B;
  border-radius: 0;
}

@media screen and (min-width: 1000px) {
  header .h-btn {
    margin-left: 130px;
  }
}

header {
  background-color: #F2EBE9;
}

/* section 3 */
.section-3 {
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 5rem 0;
  text-align: center;
  background: url("/images/faqs/black.min.png") no-repeat;
  background-size: cover;
}

.section-3 h2 {
  color: white;
  font-family: Averta-Bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.section-3 button {
  background-color: #E7332B;
  border: none;
  color: white;
  width: 152px;
  padding: .8rem;
}

.section-3 button:hover {
  background-color: #ba241e;
}

/* Footer Beginning */
footer {
  margin-top: 121px;
  font-size: 14px;
  line-height: 20px;
}

footer h4,
.copyright {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

footer h4 {
  margin-bottom: 24px;
}

footer .nav-link {
  padding-top: 4px;
  padding-bottom: 4px;
  color: var(--primary-color);
}

footer .nav-link:hover {
  text-decoration: underline;
}

.facebook-link {
  color: var(--facebook-color);
  font-size: 20px;
}

.twitter-link {
  color: var(--twitter-color);
  font-size: 20px;
}

.copyright {
  font-weight: bold;
  margin-top: 56px;
  padding: 32px 0 46px;
  border-top: 0.7px solid #514949;
}

@media screen and (min-width: 768px) {
  .section-3 {
    margin: 10rem auto;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: Averta-Regular;
  font-size: 16px;
  line-height: 24px;
  color: #514949;
  color: #514949;
  font-family: Averta-Regular;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none !important;
  color: #514949;
}

@font-face {
  font-family: "Averta-Regular";
  src: url("/fonts/Averta.woff") format("woff"), url("/fonts/Averta.otf") format("opentype");
}

@font-face {
  font-family: "Averta-Bold";
  src: url("/fonts/Averta-Bold.woff") format("woff"), url("/fonts/Averta-Bold.otf") format("opentype");
}

.header__text {
  width: 100%;
  background: #f2ebe9;
  height: 25em;
  max-width: 100%;
  padding: 3rem 0rem;
}

.header__text p {
  font-family: Averta-Regular;
  font-size: 14px;
  line-height: 24px;
  color: #514949;
  color: #e7332b;
  text-align: center;
}

.header__text h1 {
  width: 45%;
  font-family: Averta-Bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #514949;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header__text {
    padding: 1rem 0rem;
  }
  .header__text h1 {
    width: 60%;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .header__text {
    padding: 3rem 0rem;
  }
  .header__text h1 {
    width: 70%;
  }
}

.container {
  max-width: 1238px !important;
  overflow: hidden !important;
}
/*# sourceMappingURL=index.css.map */